.site-header {
    position: relative;
    z-index: 9999;

}

.hnav {
    display: flex;
    margin-top: 100px;
}

.hnav li {
    list-style: none;
    margin: 0px 30px;
}

.hnav li a {
    width: 46px;
    height: 20px;
    margin: 29px 60px 49px 42px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    text-decoration: none !important;
}


/* navigation css start here */
.home-hero-section {
    margin-top: -55px;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;padding-top: 22px;
}

.mainmenu {
    margin-top: -40px;
    margin-left: 100px;
}

.mainmenu li:hover {
    border-radius: 5px;
    transition: 0.3s ease;
}

.mainmenu li {
    padding: 5px 30px;
}

.mainmenu li a {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    text-decoration: none;
}

.mainmenu li a:hover {
    color: #000;
    text-decoration: none;
}
/* search box css */
 /* new css for navigation */

 #search_box_icon{
    margin-top:-38px;
 }
 .search-box {
	width: 100%;
	position: relative;
	}	
	.search-box input {		
	border-color: #dfe3e8;        
	box-shadow: none
	}
  .search-box input, .search-box .btn {
	min-height: 38px;
	border-radius: 2px;
  }
  .search-box .input-group-btn .btn {
	border-color: #eb5844;
	background: #eb5844;
	outline: none;
  }
  .navbar .nav-item i {
	font-size: 18px;
	line-height: 16px;
  }
  .navbar-right .dropdown-toggle::after {
	display: none;
  }
  .navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);

  }

  .navbar .dropdown-menu li {
	padding:5px 4px;

  }
  .navbar-right .dropdown-menu {
	width: 400px;
	padding: 20px;
	left: auto;
	right: 0;
	font-size: 14px;
  }
  .hide {
	display: none !important;
  }
  .close-icon{
	font-size: 26px;
	color: #0070c2;
  }
  .search-button{
	background: #0070c2 !important;
	border: none !important;
  }
  #search::placeholder{
	padding-left:16px;
	font-family: Inter;
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: normal;
	color: #000;
	
  }
  .search-icon{
	margin-bottom:49px;
	position: relative;
  }
  /* end of css for search box */

/* footer css start*/

.site_footer {
    background-color: #1d2130;
    padding: 56px 166px;
}

#footer_logo{
    width: 101px;
    height: 71px;
}
.site_footer h5 {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f7b511;
}

.footer_nav ul {
    list-style: none;

}

.footer_nav ul li {

    margin: 5px 0px;
}





.footer_nav ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
}

.copyright {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.5);
}

.site_address h5 {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f7b511;
}

.site_address p {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}

.footer-social-link {
    list-style: none;

}

.footer-social-link li {
    display: block;
    float: right;
    padding: 0px 5px;
    margin: 0px;
}

.footer-social-link li a {
    text-decoration: none;
}

/* footer css ends here */


.resources {
    color: white !important;
}

.left_line {
    border-left: 6px solid #f7b511;
    border-radius: 3px;
}

/* css for jobs section on home page */
.job_item_wrapper {
    padding: 17px 24px 8px;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-bottom: 16px;
}

.job_title {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;

}

.job_location {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #646f8d;
    display: inline-flex;
}

.job_location::before {
    content: url('../assets/img/ic-location-blue.png');
    padding-right: 6px;
    display: inline;

}

.right-job-section {
    display: flex;
    justify-content: end;
    align-items: center;
}

.wppsac-post-image{
    width: 100%;
    max-height :182px;
    object-fit: cover;
    border-radius: 10px !important;

}

.wppsac-post-title {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
}

.wppsac-sub-content{
    font-family: Inter;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #646f8d;
}

.wppsac-post-date {
    font-family: Inter;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f7b511;
}


.announce_title {
    margin-top: 19px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;    display: -ms-flexbox;
    letter-spacing: normal;
    color: #000;

}

.announce_date {

    font-family: Inter;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f7b511;

}

.announce_img img{
    width: 100%;
    max-height: 250px;

}



.header_banner {
    width: 100%;
    height: 360px;
    padding: 23px 74px 0 168px;
    background-image: linear-gradient(80deg, #0070c2, #aeddff 156%, #2598ed 156%);
    position: relative;
    z-index: 999;
    top: -56px;
}

.page_title {
    width: 336px;
    height: 144px;
    margin: 90px 147px 103px 0;
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #fff;
}


.banner-img img {
    width: 721px;
    height: 360px;
    margin-top: -22px;
}


/*rfp page*/



.rfp_container {
    
    padding: 1px;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-bottom: 40px;
    
}

.rfp_container h3{

    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;

}

.rfp_container p{

    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #646f8d;

}

.rfp_header {
    padding: 26px 32px 12px 32px;
    background-color: #f6f7f9;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px 10px 0px 0px;
}

.rfp_header div{
    padding-left: 0;
}


.rfp_header h1{
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
}

.rfp_post_content p{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #000;
}



.rfp_content {
    padding: 26px 32px 12px 32px;
    margin-left: -2px;
    margin-right:-2px;
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    
}

.rfp_footer {
    padding: 32px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;

}
.rfp_footer div{
    padding-left: 0px;
    margin: auto;
}


.rfp_file_name{
    margin: 0;
}
.download_button{
    padding: 17px 34px 18px 29px;
    border-radius: 10px;
    background-color: #0070c2;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    border: none;
}
.download_button:hover{
    color:#fff;
    text-decoration: none;
}

.site_header{
    margin-top: -55px;
}

.download_logo{
    width: 20px;
    height: 20px;
    margin: 1px 8px 0 0;
    object-fit: contain;
}

.file_logo{
    width: 32px;
    height: 32px;
    padding: 0px;
    margin-right: 8px;
    object-fit: contain;
}

.rfp_footer p{
    margin-left: 40px;
    margin-bottom: 0px;
}


.custom-logo{
    margin-left: -38px;
}


/*announcement page*/


.announce_page_img img{
    width: 100%;
    height: auto;
    margin: 0 24px 3px 0;
}

.announce_page_title{
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
    color: #000;
}

.announce_page_content{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 26px;
    letter-spacing: normal;
    color: #646f8d;
}

.announce_page_date{
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f7b511;
}


/* job page */

.job_page_body{
    padding: 42px 42px 0px 42px;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 55px;
  
}

.job_page_title{
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #1d2130;
}



.job_page_org{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

.job_page_org::before {
    content: url('../assets/img/ic-company-blue.png');
    padding-right: 6px;
    display: inline-flexbox;

}

.job_page_location{
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

.job_page_location::before {
    content: url('../assets/img/ic-location-blue.png');
    padding-right: 6px;
    display: inline;

}

.job_details_section{
    margin: auto;
    float: right;
}

.job_apply_section{
    margin: auto;
    float: right;
}
.job_apply{

    padding: 17px 24px 18px;
    border-radius: 10px;
    background-color: #0070c2;
    color: white;
    text-decoration-style: none;
}


/* css for tab device */

@media only screen and (min-width:321px) and (max-width:768px){









}




/* css for mobile device */

@media only screen and (max-device-width:480px) {
    .site_footer {
        padding: 20px;
    }

    .home-hero-section{
        margin-top: -25px;
    }

    .custom-logo-link{
        align-items: center;
    }

    .site_logo a{
        display: block;
        margin-left: 100px;
        margin-right: auto;
    }

    .custom-logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .img {
        display: none;
    }
    .rfp_container{
        margin-left: 16px;
        margin-right: 16px;
    }
    .wppsac-post-content-position  h2.wppsac-post-title{
        height: auto;
    }
    .job_page_body{
        padding: 0px;
        margin: 16px;

    }

    .single_job{
        padding: 14px 0px 24px 14px;
    }

    .announce_page_body{
        padding: 32px 24px;
    }

    .announce_page_img img{
        width: 100%;
        margin: 0px;
    }

    .single_announce{
        padding: 0px;
    }
    
    .announce_page_title{
        padding-top: 22px;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 24px;
        letter-spacing: normal;
        color: #000;
    }
    
    .announce_page_content{
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 22px;
        letter-spacing: normal;
        color: #646f8d;
    }
    
    .announce_page_date{
        font-size: 11px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f7b511;
    }

    .download_section{
        margin: px;
        padding: 32px;
    }

}



@media only screen and (min-width: 992px){
    .mobile_menu_section{
        display: none;
    }
}

/* extra css */
.wppsac-post-content-position  h2.wppsac-post-title{
    height:70px;
}



